<div class="content"><div id="giscus"></div></div>
<script src="https://giscus.app/client.js"
        data-repo="brazier85/brazier85.de"
        data-repo-id="R_kgDOMJu3lQ"
        data-category="Comments"
        data-category-id="DIC_kwDOMJu3lc4CgHDr"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>