/* Code block styling */
body > main > pre {
  max-width: fit-content;
  min-width: 50%;
}

/* Change content settings */
.content {
  max-width: 50%;
}

/* Fix spacing for comments */
.comments {
  margin-top: 50px;
}

.giscus {
  min-width: 70%;
  max-width: fit-content;
  margin: auto;
}

/* Settings on  mobile view */
@media (max-width: 1400px) {
  .content {
    margin-top: 100px;
    max-width: 700px;
  }

/* Fix spacing for comments */
  .comments {
    margin-top: 90px;
  }
}

/* Remove underline from links in code blocks */
a.external-link:any-link:has(code) {
  text-decoration-line: none;
}

:is(.markdown-preview-view,.markdown-rendered),
.markdown-source-view {
  background-color: var(--background-primary) !important;
}

/* Fix table position to the left */
.table-wrapper {
  table {
    margin: 20px !important;
  }
}
