body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

h1 {
  font-size: 2em !important; /* 40px/16=2.5em */
  img {
      height: 32px;
      width: auto;
  }
}

h2 {
  font-size: 1.5em !important; /* 30px/16=1.875em */
}

h3 {
  font-size: 1.17em !important;
}

h4 {
  font-size: 1em !important;
  font-weight: bolder !important;
}

h5 {
  font-size: 0.83em !important;
  font-weight: bolder !important;
}

h6 {
  font-size: 0.67em !important;
  font-weight: bolder !important;
}

.toc {
  @media (max-width: 1490px) {
      display: block !important;
  }
}

nav.filetree-sidebar {
  top: 85px;
  left: 20px;
  position: fixed;
  height: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-x: hidden;

  .search-button {
      margin: 10px;
      min-width: 160px;
      margin-bottom: 20px;
  }

  & > .folder {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -10px;
  }
  .notelink {
      border-radius: 10px;
      padding: 5px 0 5px 8px;

      a::before {
          margin-right: 2px;
      }
  }

  .notelink.active-note {
      transform: unset;
  }

  .fa-sticky-note {
      display: none !important;
  }

  h1::before {
      content: " ";
      display: block;
      width: 100%;
      height: 3em;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/img/logo.svg);
      background-position: center;
  }
}

nav.toc {
  ol {
      list-style: none;
      padding-left: 10px;
      border-left: 2px solid var(--background-secondary);
  }

  & > ol {
      padding-left: 0;
      border-left: none;
  }
}

header {
  margin-bottom: 1.8em;
}

.toc-container li::before {
  content: "" !important;
}

nav.navbar {
  top: 10px;
  right: 10px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 10px;
  border: var(--cards-border-width) solid var(--background-modifier-border);
  z-index: 99999;
  .navbar-inner {
      h1::before {
          content: " ";
          display: inline-block;
          width: 1em;
          height: 1.2em;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(/img/logo.svg);
          margin-right: 5px;
          background-position: bottom;
      }

      span {
          margin-left: 10px;
      }
  }

  .search-button {
      border-radius: 10px;

      @media (max-width: 800px) {
          margin-right: 10px;
      }
  }
}
